@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* Colors */
    --black-transparent: #0000006b;
    --brown: #290505;
    --brown-transparent: #29050588;
    --dark-gray-transparent: #3a3a3a86;
    --light-blue1: #78b7ff;
    --light-blue2: #94bff0;
    --light-grey-transparent: #747474c2;
    --ocher: #e4aa0b;
    --ocher-darken: #4b3804;
    --ocher-lighten: #ffce47;
    --ocher-lighten-glow: #a37d36;
    --off-white: #eceff4;
    --pink1: #ff009624;
    --pink2: #ff00963d;
    --purple: #be1586;
    --red: #c71a1a;

    /* Other */
    --button-transform-function: cubic-bezier(0, 0, 1, 1);
}

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.selectEnable { 
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    height: 100vh;

    background: linear-gradient(var(--light-blue1), var(--light-blue2));

    font-family: 'Roboto', sans-serif;
}

.sketcher-wrapper {
    display: flex;
    justify-content: center;
    flex: 1;
    max-width: 1300px;
}

.sketcher {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;

    flex: 1;
    padding: 32px;

    background-color: var(--red);
    border: 4px solid var(--brown);
    border-radius: 32px;
    box-shadow: 0 10px 0 0 var(--brown), 0 10px 20px 2px var(--brown-transparent);
    
    transition: all 0.1s ease;
}

.panel {
    display: flex;
    align-items: stretch;
    justify-content: center;
    
    flex: 1;
}

.panel.controls {
    flex-direction: column;

    flex: 1;
    min-width: 250px;
}

.panel.screen {
    flex: 3;
    min-height: 700px;
    min-width: 350px;
}


.control-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
    justify-content: center;

    flex: 1;
    padding: 12px;

    color: var(--brown);
}

#cb4 {
    padding-top: 16px;
}

.control-box-name {
    padding-bottom: 10px;
    
    font-size: 24px;
    font-weight: 800;
}

.tool-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 20px; 
    row-gap: 10px;

    max-height: 120px;
}

.colorpicker-wrapper {
    position: relative;
    margin-bottom: 4px;
}

#colorpicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    height: 100px;
    width: 100px;

    background-color: var(--off-white);
    border: 2px solid var(--brown);
    border-radius: 10px;
}

#colorpicker::-webkit-color-swatch {
    border: 2px solid var(--brown);
    border-radius: 10px;
}

#colorpicker::-moz-color-swatch {
    border: 2px solid var(--brown);
    border-radius: 10px;
}

.colorpicker-disabler {
    position: absolute;
    display: none;

    left: 0px;
    top: 0px;
    height: 100px;
    width: 100px;

    background-color: var(--dark-gray-transparent);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, var(--light-grey-transparent) 10px, var(--light-grey-transparent) 20px);
    border-radius: 10px;
}

.menu-item-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

img {
    pointer-events: none;
}

.ui-icon img {
    width: 34px;
    transform: translateY(3px);
}

.ui-icon.darken img {
    width: 32px;
}

.ui-icon.rainbow,
.ui-icon.darken {
    /* Filters color to var(--brown) */
    filter: invert(9%) sepia(19%) saturate(2379%) hue-rotate(318deg) brightness(90%) contrast(108%);
}



.ui-icon.grid-size-icon {
    transform: translateY(-3px);
}

.slider-container {
    position: relative;
    padding: 0px;
    transform: translateX(-2px);
}

.slider {
    -webkit-appearance: none;
    appearance: none;

    background-position-x: -2px;
    background-position-y: 2px;
    height: 34px;
    padding: 0px 4px;
    
    border: 2px solid var(--brown);
    border-radius: 10px;
    background-color: var(--off-white);
    
    transition: all 0.3s ease;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    
    height: 26px;
    width: 26px;
    transform: translate3d(0, -1em, 1em);

    background-color: var(--off-white);
    border: 2px solid var(--brown);
    border-radius: 10px;
    box-shadow: 0 10px 0 0px var(--brown), 2px 12px 14px 0px var(--black-transparent);

    cursor: pointer;
}

.slider::-moz-range-thumb {
    height: 26px;
    width: 26px;
    transform: translate3d(0, -1em, 1em);

    background-color: var(--off-white);
    border: 2px solid var(--brown);
    border-radius: 10px;
    box-shadow: 0 10px 0 0px var(--brown), 2px 12px 14px 0px var(--black-transparent);

    cursor: pointer;
}

.grid-size-value {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    
    left: 0px;
    top: 0px;
    height: 26px;
    width: 26px;

    color: var(--brown);
    font-size: 12px;
    font-weight: 800;
    text-align: center;
    
    transform: translate(-3px, -6px);
    
    pointer-events: none;
}


.switch {
    display: inline-block;
    position: relative;
    
    height: 34px;
    width: 60px;

    font-size: 18px;
}

.switch input {
    height: 0;
    width: 0;
    opacity: 0;
}

.toggler {
    position: absolute;
    
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    background-color: var(--off-white);
    background-position: -1px -1px;
    border: 2px solid var(--brown);
    border-radius: 10px;
    
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 10px;

    cursor: pointer;
}

.toggler:before {
    position: absolute;
    content: "";
    
    height: 26px;
    width: 26px;
    
    left: 4px;
    bottom: 4px;

    background-color: var(--off-white);
    border: 2px solid var(--brown);
    border-radius: 10px;
    box-shadow: 0 10px 0 0px var(--brown), 2px 12px 14px 0px var(--black-transparent);

    -webkit-transition: .4s;
    transition: .4s;
    transition-timing-function: ease;
    transform: translate3d(0, -0.6em, 1em);
}

input:checked + .toggler {
    background-color: var(--ocher);
}

#grid-switch-checkbox:checked + .toggler {
    background-image: linear-gradient(var(--light-blue1) 1.5px, transparent 1.5px), linear-gradient(to right, var(--light-blue1) 1.5px, transparent 1.5px);
    background-size: 10px 10px;
    background-color: var(--off-white);
    background-position: -1px -1px;
}

#rainbow-switch-checkbox:checked + .toggler {
    background: linear-gradient(
        -45deg, 
        rgba(255,0,0,1) 0%, 
        rgba(255,154,0,1) 10%, 
        rgba(208,222,33,1) 20%, 
        rgba(79,220,74,1) 30%, 
        rgba(63,218,216,1) 40%, 
        rgba(47,201,226,1) 50%, 
        rgba(28,127,238,1) 60%, 
        rgba(95,21,242,1) 70%, 
        rgba(186,12,248,1) 80%, 
        rgba(251,7,217,1) 90%, 
        rgba(255,0,0,1) 100%);
}

#eraser-switch-checkbox:checked + .toggler {
    background-color: var(--off-white);
}

#lighten-switch-checkbox:checked + .toggler {
    background-color: var(--off-white);
    border-color: white;
    box-shadow: 0 0 15px 2px white;
}

#lighten-switch-checkbox:checked + .toggler:before {
    background-color: var(--ocher-lighten);
    border-color: var(--ocher-lighten-glow);
    box-shadow: 0 10px 0 0px var(--ocher-lighten-glow), 2px 12px 14px 0px var(--black-transparent);
}

#darken-switch-checkbox:checked + .toggler {
    background-color: var(--brown);
    box-shadow: 0 0 15px 2px var(--brown);
}

#darken-switch-checkbox:checked + .toggler:before {
    background-color: var(--ocher-darken);
    box-shadow: 0 10px 0 0px var(--brown), 2px 12px 14px 0px var(--black-transparent);
}

input:focus + .toggler {
    box-shadow: 0 0 1px var(--ocher);
}

input:checked + .toggler:before {
    transform: translate3d(22px, -0.6em, 1em);
    background-color: var(--ocher);
}

button {
    padding: 0.5em 1em;
    
    background-color: var(--off-white);
    border: 2px solid var(--brown);
    border-radius: 10px;

    color:rgb(41, 5, 5);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 800;
    
    transform-style: preserve-3d;
    transition: all 175ms var(--button-transform-function);

    cursor: pointer;
}

button::before {
    position: absolute;
    content: "";
    
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
    
    background-color: var(--brown);
    border-radius: inherit;
    box-shadow: 0 0 0 2px var(--brown), 2px 2px 14px 0 var(--brown-transparent);

    transform: translate3d(0, 0.6em, -1em);
    transition: all 175ms var(--button-transform-function);
}

button:active {
    background-color: var(--purple);
    transform: translate(0em, 0.375em);
  }

button:active::before {
    transform: translate3d(0, 0.225em, -1em);
}

.screen-box {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 4;
    padding: 0px;
}

.screen-box.knobs {
    flex-direction: column;
    justify-content: space-between;

    flex: 1;
    padding: 20px 0px;
}

.pixel-grid {
    display: grid;

    height: 680px;
    width: 680px;
    
    background-color: var(--off-white);
    border: 6px solid var(--brown);

    touch-action: none;
}

.pixel {
    background-color: transparent;
}

.clearing > .pixel {
    transition: all 0.2s ease;
}

.pixel.borders-on {
    border-bottom: 1px dashed var(--light-blue1);
    border-right: 1px dashed var(--light-blue1);
    border-radius: 2px;
}

.pixel.on-bottom {
    border-bottom: none;
}

.pixel.on-right {
    border-right: none;
}

.pixel.got-colored {
    animation-name: pop;
    animation-duration: 0.2s;
    animation-timing-function: ease;
}

@keyframes pop {
    50% { transform: scale(1.5); }
}

.knob {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 120px;
    width: 120px;

    background-color: var(--off-white);
    border-radius: 50%;
    border: 4px solid var(--brown);
    box-shadow: 0 10px 0 0px var(--brown), 0 5px 0 0px var(--brown), 2px 12px 14px 0px var(--black-transparent);        
    
    font-size: 30px;
}

.sketcher-logo img {
    content: url(./images/sketcher-vertical.png);
    width: 80px;
    padding-top: 15px; 
}

.copyright {
    padding-top: 20px;
}

.copyright p {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    font-weight: 300;
}

#github {
    display: inline;
    pointer-events: auto;
    width: 18px;
    
}

@media (hover: hover) and (pointer: fine) {
    /* No hover styles on touch screen */
    .slider:hover {
        background-image: url("./images/right-triangle.svg");
        background-position-x: -2px;
        background-position-y: 2px;
        background-repeat: no-repeat;
        background-size: 140px 28px;
    }

    .slider:hover + .slider::-webkit-slider-thumb {
        background-color: var(--ocher);
    }

    .slider.hover + .slider::-moz-range-thumb {
        background-color: var(--ocher);
    }

    input:hover + .toggler:before {
        background-color: var(--ocher);
    }

    button:hover {
        background-color: var(--ocher);
        transform: translate(0, 0.125em);
    }
    
    button:hover::before {
        transform: translate3d(0, 0.475em, -1em);
    }
    
    .pixel:hover {
        animation-name: selected;
        animation-duration: 1.3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
    }
    
    @keyframes selected {
        0% { box-shadow: inset 0 0 0 2000px var(--pink1); }
        33% { box-shadow: inset 0 0 0 2000px var(--pink2); }
        100% { box-shadow: inset 0 0 0 2000px var(--pink1); }
    }
    
    #github:hover {
        filter: invert(56%) sepia(100%) saturate(731%) hue-rotate(8deg) brightness(103%) contrast(91%);
    }
}

@media(max-width: 1220px) {
    .pixel-grid {
        width: 630px;
        height: 630px;
    }
}

@media(max-width: 1180px) {
    .pixel-grid {
        width: 580px;
        height: 580px;
    }
}

@media(max-width: 1050px) {
    .panel.screen {
        flex-direction: column;
        min-height: 700px;
    }
    
    .screen-box.knobs {
        flex-direction: row;
        padding: 0px 20px;
    }

    .pixel-grid {
        height: 530px;
        width: 530px;
    }

    .sketcher-logo img {
        content: url(./images/sketcher.png);
        width: 270px;
    }
}

@media(max-width: 890px) {
    .pixel-grid {
        height: 480px;
        width: 480px;
    }

    .sketcher-logo img {
        width: 240px;
    }

    .knob {
        height: 90px;
        width: 90px;
    }
}

@media(max-width: 810px) {
    .pixel-grid {
        width: 430px;
        height: 430px;
    }

    .sketcher-logo img {
        width: 200px;
    }

    .knob {
        height: 85px;
        width: 85px;
    }
}

@media(max-width: 755px) {
    /* Swap to vertical layout */
    body {
        height: 100%;
    }

    .sketcher {
        gap: 20px;
    }

    .panel.controls {
        align-items: flex-start;
        align-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .panel.screen {
        min-width: 450px;
        gap: 20px;
    }

    .control-box {
        min-width: 250px;
    }
    
    #cb4 {
        padding: 12px;
    }

    .pixel-grid {
        width: 600px;
        height: 600px;
    }

    .sketcher-logo img {
        width: 300px;
    }

    .knob {
        height: 100px;
        width: 100px;
    }
}

@media(max-width: 705px) {
    .pixel-grid {
        width: 580px;
        height: 580px;
    }
}

@media(max-width: 666px) {
    .control-box {
        padding: 8px;
        min-width: 239px;
    }
    
    .pixel-grid {
        width: 530px;
        height: 530px;
    }

    .sketcher-logo img {
        width: 250px;
    }

    .knob {
        height: 90px;
        width: 90px;
    }
}

@media(max-width: 600px) {
    .sketcher {
        padding: 0;
        padding-bottom: 30px;
    }
    
    .panel.screen {
        gap: 0px;
    }
    
    .pixel-grid {
        width: 480px;
        height: 480px;
    }

    .sketcher-logo img {
        width: 200px;
    }
}

@media(max-width: 550px) {
    .pixel-grid {
        width: 430px;
        height: 430px;
    }
}

@media(max-width: 500px) {
    .panel.controls {
        gap: 15px;
        padding-left: 10px;
    }

    .pixel-grid {
        width: 380px;
        height: 380px;
    }

    #cb4 {
        padding-top: 16px;
    }
}

@media(max-width: 450px) {
    
    .panel.screen {
        flex-direction: column;
        min-height: 500px;
        min-width: 250px;
        padding: 0;
    }
    
    .pixel-grid {
        width: 330px;
        height: 330px;
    }

    .sketcher-logo img {
        width: 120px;
    }

    
}

@media(max-width: 370px) {
    .pixel-grid {
        width: 300px;
        height: 300px;
    }

    .knob {
        height: 60px;
        width: 60px;
    }
}

@media(max-width: 330px) {
    .pixel-grid {
        width: 275px;
        height: 275px;
    }
}

@media(max-width: 300px) {
    .pixel-grid {
        width: 250px;
        height: 250px;
    }

    .sketcher-logo img {
        width: 90px;
    }
}

@media(max-height: 775px) {
    body {
        height: 100%;
    }
}