html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.sketcher {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    background-color: rgba(255, 0, 43, 0.37);
    border: 2px dashed black;
    max-width: 1300px;
    padding: 20px;
    gap: 0px;
}

.panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: rgba(240, 255, 255, 0.308);
    border: 2px dashed black;
    font-size: 100px;
    color: rgba(0, 92, 134, 0.623);
    
}

.panel.controls {
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
    gap: 20px;
    min-width: 250px;
}

.panel.screen {
    flex: 3;
    display: flex;
    align-items: stretch;
    min-width: 350px;
    min-height: 700px;
}

.control-box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(165, 42, 42, 0.178);
    border: 2px dashed black;
}

.screen-box {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(165, 42, 42, 0.178);
    border: 2px dashed black;
    padding: 20px;
}

.screen-box.knobs {
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0px;
}

.pixel-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed black;
    background-color: rgba(253, 234, 234, 0.63);
    align-self: center;
    width: 600px;
    height: 600px;
}


.knob {
    font-size: 30px;
    border-radius: 50%;
    border: 2px dashed black;
    background-color: rgba(253, 0, 34, 0.39);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69px;
    width: 69px;
}

@media(max-width: 1180px) {
    .pixel-grid {
        width: 530px;
        height: 530px;
    }
}

@media(max-width: 1050px) {
    .panel.screen {
        flex-direction: column;
        min-height: 700px;
    }
    
    .screen-box.knobs {
        flex-direction: row;
        padding: 0px 20px;
    }

    .pixel-grid {
        width: 500px;
        height: 500px;
    }
}

@media(max-width: 890px) {
    .pixel-grid {
        width: 400px;
        height: 400px;
    }
}

@media(max-width: 810px) {
    .pixel-grid {
        width: 300px;
        height: 300px;
    }
    
    .screen-box.display {
        padding: 0px;
    }
}

@media(max-width: 663px) {
    .panel.controls {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .control-box {
        min-width: 200px;
    }

    .pixel-grid {
        width: 450px;
        height: 450px;
    }
}

@media(max-width: 555px) {
    .pixel-grid {
        width: 350px;
        height: 350px;
    }
}

@media(max-width: 450px) {
    .container {
        padding: 0;
    }
    
    .panel.screen {
        flex-direction: column;
        min-height: 500px;
        min-width: 250px;
        padding: 0;
    }
    
    .pixel-grid {
        width: 350px;
        height: 350px;
    }
}

@media(max-width: 370px) {
    .pixel-grid {
        width: 300px;
        height: 300px;
    }
}

@media(max-width: 315px) {
    .pixel-grid {
        width: 250px;
        height: 250px;
    }
}